* {
    --theme-bg: #171a24;
    --theme-secondary: #1f222f;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: var(--theme-bg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Noto Sans", sans-serif;
    height: 100%;
    overflow: hidden;
}

.sidebar {
    box-sizing: border-box;
    border-right: var(--theme-secondary) solid 1px;
    background-color: var(--theme-bg);
    height: auto;
    width: min(23vw, 17rem);
    flex-shrink: 0;
    z-index: 5;
}

.viewer-panel {
    box-sizing: border-box;
    border-left: var(--theme-secondary) solid 1px;
    background-color: var(--theme-bg);
    height: calc(100vh - 4rem);
    width: min(32vw, calc(7vw + 20rem));
    flex-shrink: 0;
    z-index: 7;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 1rem;
    overflow-y: auto;
}

.viewer-buffer {
    height: auto;
    width: min(32vw, calc(7vw + 20rem));
    flex-shrink: 0;
    opacity: 0;
}

.viewer-panel img {
    width: 100%;
    border-radius: 12px;
}

nav {
    border-bottom: var(--theme-secondary) solid 2px;
    box-sizing: border-box;
    width: 100vw;
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    position: fixed;
    z-index: 10;
    background-color: var(--theme-bg);
}

main {
    width: 100%;
    height: calc(100vh - 4rem);
    min-height: 0;
    display: flex;
}

#main-images {
    flex: 1;
    min-width: 0;
    padding: 1rem;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

.img-grid {
    column-width: 14rem;
    column-gap: 1rem;
    width: 100%;
}

.grid-img {
    width: 100%;
    margin-bottom: 1rem;
    display: inline-block;
    break-inside: avoid;
    padding: 0;
    background-color: #13161d;
    border-radius: 8px;
    border: transparent;
    position: relative;
    cursor: pointer;
}

.grid-img:hover .img-btn {
    opacity: 1;
}

.grid-img:hover img {
    transform: scale(1.03);
}

.grid-img img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    object-fit: cover;
    opacity: 1;
    transition: all ease 0.2s;
    color: #373a47;
}

.img-btn {
    position: absolute;
    right: 0.4rem;
    bottom: 0.36rem;
    background-color: #0e121eb8;
    color: white;
    padding: 0.4rem 0.8rem;
    border-radius: 6px;
    text-decoration: none;
    opacity: 0;
    transition: all ease 0.2s;
    font-size: 1rem;
}

.logo-text {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-family: "Noto Serif", serif;
    padding: 0.5rem;
}

.logo-sans {
    font-family: "Noto Sans", sans-serif;
    opacity: 0.3;
    font-weight: 500;
}

.logo img {
    height: 4rem;
}

.logo {
    color: white;
    text-decoration: none;
    font-family: "Noto Serif", serif;
    font-size: 2rem;
}

.logo div {
    display: flex;
    align-items: center;
}

.preview-img {
    position: relative;
    padding: 0;
    margin: 0;
}

img {
    padding: 0;
    margin: 0;
    display: block;
}

.preview-img:hover .img-btn {
    opacity: 1;
}

.preview-img .img-btn {
    bottom: 0.8rem;
    right: 0.7rem;
}